.register-main{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.register-title{
    font-size: 2.4rem;
    color: #ffffff;
    margin-bottom: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
}


.register-text{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

.container-form{
   
    width: 33rem;
    height: 33rem;
    background-color: white;
    /* background: linear-gradient(to bottom right, rgba(250, 249, 249, 0.645),rgba(255, 255, 255, 0.145));
    border: 0.1px solid rgba(206, 206, 206, 0.583); */

    border-radius: 0px 10px 10px 0px;
    /* margin: 8% auto; */
    align-items: center;
    overflow: hidden;
    position: relative;
 
}
.content-register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.label{
    font-size: 19px;
    /* padding: 3px 5px; */
    margin: 7px 10px;
    width: auto;
    display: flex;
    align-self: center;
    font-family:'open sans' ;
    font-weight: 600;
}
.page4 .label{
    font-size: 19px;
    /* padding: 3px 5px; */
    margin: 12px 10px;
    width: auto;
    display: flex;
    align-self: center;
    font-family:'open sans' ;
    text-align: center;
    font-weight: 600;
}
.welcome-msg{
    text-align: center;
    margin-bottom: 30px;
    color: #777;
    font-family: 'poppins';
    font-weight: 600;

}
.container-form form{
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height:400px;
    transition: 0.5s;
    margin: 0;
    justify-content: center;
    /* align-items: center; */
    align-self: center;
    
    top: 28px;
    /* left: 40px; */

}
.page1 .field{
  /* margin-right: 40px; */
    width: 100%;
    padding: 0px 46px;




}
.page2 .field{
    /* margin-right: 40px; */
      width:100%;
      padding: 0px 46px;
    
  
  }

  .page3 .field{
    /* margin-right: 40px; */
      width: 100%;
      padding: 0px 46px;
  
  }
  .page4 .field{
    /* margin-right: 40px; */
    width: 100%;
    padding: 0px 46px;
  
  }

.field input{
    width: auto;
    padding: 8px 10px;
    margin: 0px 10px;
    margin-bottom: 18px;
    border: 0;
    /* border: 2px solid #E50914; */
    outline: none;
    background: #d2d2d2;
    font-size: 14px;
    font-family: 'poppins';
    border-radius: 5px;
    text-align: center;
}


.page2 .field input{
    width: 100%;
    padding: 8px 7px;
    margin: 0px 10px;
    margin-bottom: 18px;
    border: 0;
    /* border: 2px solid #E50914; */
    outline: none;
    background: #d2d2d2;
    font-size: 14px;
    font-family: 'poppins';
    border-radius: 5px;
    text-align: center;
}
.page4 .field input{
    width: 92%;
    padding: 8px 7px;
    margin: 0px 10px;
    margin-bottom: 18px;
    border: 0;
    /* border: 2px solid #E50914; */
    outline: none;
    background: #d2d2d2;
    font-size: 14px;
    font-family: 'poppins';
    border-radius: 5px;
    text-align: center;
}

.page4 .field textarea{
    padding: 8px 7px;
    background: #d2d2d2;
    font-size: 14px;
    font-family: 'poppins';
    border-radius: 5px;
    
}

.form3-content .field input{
    /* width: 100%; */
    padding: 8px 10px;
    margin: 0px 10px;
    margin-bottom: 43px;
    border: 0;
    /* border: 2px solid #E50914; */
    outline: none;
    background: #d2d2d2;
    font-size: 14px;
    font-family: 'poppins';
    border-radius: 5px;
    text-align: center;
}

.page2{
    width: 94%;
}

.R-club{
    margin-bottom: 40px;
}
/* .page{
    display: flex;

    flex-direction: column;
    width: max-content;
    align-items: center; 
 
} */
/* .page-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 
} */

::placeholder{
    color: #777777;
}


.btn-box{
    /* width: 100%; */
    margin:30px auto;
    text-align: center;
    
}
form button,.submit{
    width: 180px;
    height: 38px;
    margin: 4px 10px;
    background: linear-gradient(90deg, rgb(97 ,1 ,1), rgb(255, 17 ,0));
    border-radius: 30px;
    border: none;
    outline: none;
    color: #ffff;
    cursor: pointer;
    font-family: 'roboto';
    font-size: 16px;
 
}
.button-pg2  button{
    width: 180px;
    height: 38px;
    margin: 4px 10px;
    background: linear-gradient(90deg, rgb(97 ,1 ,1), rgb(255, 17 ,0));
    border-radius: 30px;
    border: none;
    outline: none;
    color: #ffff;
    cursor: pointer;
    font-family: 'roboto';
    font-size: 16px;

}
.button-pg2{
    display: flex;
}


.left-text{
    /* display: flex; */
}

#form1{
    position: absolute;
}
#form2{
    position: absolute;
    left: 550px;

   
}

#form3{
    position: absolute;
    left: 550px;

}

#form4{
    position: absolute;
    left: 550px;
}


.step-row{
    width: 100%;
    height: 55px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
    justify-content: space-between;
    text-transform: uppercase;
}
.step-col{
    width:120px;
    text-align: center;
    color:#333 ;
    position: relative;

}

.step-col small{
    font-size: 19px;
    font-weight: 700;
    font-family: 'roboto';
}
#progress{
    position: absolute;
    height: 100%;
    width: 115px;
    background: linear-gradient(90deg, rgb(97 ,1 ,1), rgb(255, 17 ,0));
    transition: 1s;
}
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    position: absolute;
    right: -26px;
    top: 0;
    border-left: 27px solid rgb(255, 17 ,0);
}

textarea{
    height:131px;
    width: 100%;
    background-color: #d2d2d2;
    border-radius: 8px;
    outline: none;
    border: none;
}

.download-btn{
 
        padding: 13px 166px;
        color: white;
        background-color: #E50914;
        font-family: 'Poppins';
        font-weight: 600;
        border-radius: 8px;
        text-decoration: none;
}
.download-btn i{
    margin-right: 4px;
}
.download-btn:hover{
    background-color: #990e0e;
    color: black;
    transition: .5s;
}

.form-img{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.register-main .sup-img img{
    width: 420px;
    display: flex;
    border-radius: 10px 0px 0px 10px;
}
@media (max-width: 900px) {
    .container-form{
        width:21rem ;
    }
    .register-title{
        font-size: 2rem;
        text-align: center;
    }
    .step-col small{
        font-size: 16px;
    }
    .field input,.form3-content .field input{
        padding: 8px 8px;
        font-size: 12px;
        margin: 15px 4px;
        width: 130px;
    }
    .form3-content .field input{
        margin: 26px 4px;
    }
    .page1 .field{
        padding: 0px 25px;
    }
    #progress{
        width: 71px;
    }
    form button,.button-pg2 button{
        margin: 7px 8px;
        width: 119px;
        font-size: 15px;
    }
    .label{
        font-size: 18px;
        margin: 7px 8px;
    }
    .page2 .field{
        padding: 0px 25px;
    }
    .page3 .field{
        padding: 0px 25px;
    }
    .download-btn{
        padding: 13px 89px;
    }
    .page4 .field{
        padding: 0px 25px;
    }
    .page4 .label{
        font-size: 18px;
    }
    textarea{
        height: 96px;
    }
    .register-main .sup-img img{
        opacity: 0;
        display: none;
    }
    .container-form{
        border-radius: 10px 10px 10px 10px;
    }
    form button, .submit {
        width: 124px;
        margin: 4px 7px;
    }

}

.swal2-title{
    font-family: 'open sans';
    font-weight: bold;
}

.swal2-styled.swal2-cancel{
   
    font-family: 'poppins';
}
.swal2-footer{
    font-family: 'roboto';
}
.swal2-popup{
    background: rgb(255, 255, 255) !important;
}
.swal2-styled.swal2-cancel{
    background-color: #E50914 !important;
    outline: none;
    border: none !important;
}